<!DOCTYPE html>
<html>
  <head>
    <title>KEXP Now Playing</title>
    <meta name="description" content="Current track playing on KEXP.org">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Now Playing on <img src="https://kexp.org/static/assets/img/logo-white.svg" alt="KEXP">
      </h1>
    </header>

    <main>

    </main>

    <footer>

    </footer>

    <script src="/client.js"></script>

  </body>
</html>
